.jumbotron {
  background: linear-gradient(to top, #77bfa0, #f0f7ee);
  color: #333;
}

.button-list .btn {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
